<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552964831356-rrv14b4i716vs87f0p25o6vvvrop958h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552964831356-rrv14b4i716vs87f0p25o6vvvrop958h</string>
	<key>API_KEY</key>
	<string>AIzaSyDJNffXYG7fxvTDLh9587V2PN6VBlpxMpY</string>
	<key>GCM_SENDER_ID</key>
	<string>552964831356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatappCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>whatappclone-d7177</string>
	<key>STORAGE_BUCKET</key>
	<string>whatappclone-d7177.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552964831356:ios:11581a80292e01d2e6b1f9</string>
</dict>
</plist>